Broker:
  Username: me
  Password: me2
  AllowedTopicPaths:
    - 'msh/US/CO/'
  # Checks allowed first, so blocks only need to be subset of allowed if allowed is set
  BlockedTopicPaths:
    - "#"
    - '$SYS'